* {
     margin: 0%;
     padding: 0%;
     font-family: "Playfair Display", serif;
     font-family: "Montserrat", sans-serif;
}

.header > h1 {
     width: 587px;
height: 64px;
padding-top: 49px;
padding-left: 236px;
gap: 0px;
opacity: 0px;
font-family:"Playfair Display", serif;
font-size: 48px;
font-weight: 700;
line-height: 63.98px;
text-align: left;
color: #000000;

}


.header > p {
     width: 592px;
height: 51px;
padding-top: 20px;
padding-left: 261px;
gap: 0px;
opacity: 0px;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-style: italic;
font-weight: 500;
line-height: 17.07px;
text-align: left;
color: #4F4F4F;

}

.header > img {
     width: 969px;
height: 444px;
padding-top: 45px;
padding-left: 234px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;

}


.header {
     margin-bottom: 60px;
}

.container {
     display: flex;
     
    
}


.con-info > h3 {
     width: 128px;
     height: 32px;
     
     padding-left: 236px;
     gap: 0px;
     opacity: 0px;
     font-family: "Playfair Display", serif;
font-size: 24px;
font-weight: 700;
line-height: 31.99px;
text-align: left;
color: #333333;

}


.con-info > h4 {
     width: 177px;
height: 24px;
padding-top: 30px;
padding-bottom: 40px;
padding-left: 237px;
gap: 0px;
opacity: 0px;
font-family: "Playfair Display", serif;
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 23.99px;
text-align: left;
color:#333333;


}

.con-info > ul {
     padding-left: 237px;
}

.con-info > ul > li {
     width: 554px;
height: 50px;

left: 275px;
gap: 0px;
opacity: 0px;
font-family: "Montserrat", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 25px;
text-align: left;
color: #333333;

}

.bold {
     font-family: "Montserrat", sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 25px;
text-align: left;
color:#333333;

}

.info2 {
     display: flex;
     gap:5px;
     padding-top: 60px;
     padding-left: 40px;


}

.con-info2 {
     width: 210px;
height: 367px;

margin-left: 184px;
gap: 0px;
border-radius: 12px 0px 0px 0px #000000;
opacity: 0px;
border: 1px solid #00000009;
box-shadow: 5px 5px 3px 5px #00000009;



}

.infos > p {
     width: 63px;
height: 12px;

gap: 0px;
opacity: 0px;
font-family: "Montserrat", sans-serif;
font-size: 10px;
font-weight: 700;
line-height: 12.19px;
text-align: left;
color:#BDBDBD;


}

.infos1 > p {
     width: 72px;
height: 17px;

gap: 0px;
opacity: 0px;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 500;

text-align: left;
color: #333333;

}

.infos > h5 {
     color:#333333;
    font-weight: 500;
}
.info {
     padding-left: 10px;
}

.instruction {
     width: 137px;
height: 32px;


padding-left: 236px;
gap: 0px;
opacity: 0px;
font-family: "Playfair Display", serif;
font-size: 24px;
font-weight: 700;
line-height: 31.99px;
text-align: left;
color:#333333;

}


.conn {
     display: flex;
     flex-direction: column;
}


.connn > h4 {
     width: 287px;
height: 48px;
padding-top: 30px;

padding-left: 238px;
gap: 0px;
opacity: 0px;
font-family:"Playfair Display", serif;
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 23.99px;
text-align: left;
color:#333333;

}

.connn > ul {
     width: 599px;
height: 50px;
padding-top: 20px;
padding-left: 237px;
gap: 0px;
opacity: 0px;


}


.connn > ul > li {
     font-family: "Montserrat", sans-serif; 
font-size: 16px;
font-weight: 400;
line-height: 25px;
text-align: left;

}



.sec-con > h3 {
     width: 137px;
height: 32px;
padding-top: 230px;
padding-left: 232px;
gap: 0px;
opacity: 0px;
font-family: "Playfair Display", serif;
font-size: 24px;
font-weight: 700;
line-height: 31.99px;
text-align: left;
color:#333333;
margin-bottom: 25px;

}

.con-2 {
     display: flex;
     margin-bottom: 30px;
}

.number {
     width: 36px;
height: 36px;
display: flex;
justify-content: center;
align-items: center;

margin-left: 236px;
gap: 0px;
border-radius: 6px;
opacity: 0px;
background: #F2994A;

}

.number > p {
     font-family: "Playfair Display", serif;
font-size: 24px;
font-weight: 700;
line-height: 31.99px;
text-align: left;
color: #FFFFFF;

}

.para {
     width: 528px;
height: 40px;

margin-left: 10px;
gap: 0px;
opacity: 0px;

}

.para > p {
     font-family:  "Montserrat", sans-serif;
     font-size: 16px;
     font-style: italic;
     font-weight: 400;
     line-height: 24px;
     text-align: left;
     
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: left;
color:#000000;

}


.con-5, .con-6   {
     display: flex;
     margin-bottom: 210px;
}

.con-3, .con-4 {

     display: flex;
     margin-bottom: 230px;

}

.con-7 {
     margin-bottom: 100px;
     display: flex;
}

.con-8 {
     display: flex;
     margin-bottom: 80px;
}


.source {
     width: 500px;
height: 24px;

margin-left: 236px;
gap: 0px;
opacity: 0px;
margin-bottom: 150px;

}

.source > p {
     font-family:  "Montserrat", sans-serif;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #BDBDBD;

}

.source > p > a {
     text-decoration: none;
     color: #BDBDBD;
}


.footer {
     width: 287px;


padding-left: 567px;
gap: 0px;
opacity: 0px;
margin-bottom: 30px;

}

.footer > p {
     font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: center;
color: #828282;


}

.footer > p > a {
     color:#828282;
}




@media screen and (max-width:375px) {

             body {
               width: 100%;
             }
            .header {
               display: flex;
               flex-direction: column;
            }


            .header > h1 {
               width: 313px;
          height: 29px;
          padding-top: 32px;
          padding-left: 11px;
          gap: 0px;
          opacity: 0px;
          font-family:"Playfair Display", serif;
          font-size: 22px;
          font-weight: 700;
          line-height: 31.99px;
          text-align: left;
          color: #000000;
          
          }



          .header > p {
               width: 320px;
          height: 88px;
          padding-top: 20px;
          padding-left: 26px;
          gap: 0px;
          opacity: 0px;
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          font-style: italic;
          font-weight: 500;
          line-height: 14.63px;
          text-align: left;
          color: #4F4F4F;
          
          }


          .header > img {
               width: 352px;
          height: 202px;
          padding-top: 25px;
          padding-left: 11px;
          gap: 0px;
          border-radius: 12px;
          opacity: 0px;
          
          }
          
          
          .header {
               margin-bottom: 60px;
          }


          .container {
               display: flex;
               flex-direction: column;
               
              
          }

          .info2 {
               
               flex-direction: row;
               
               padding-top: 10px;
               padding-left: 10px;
               width: 81px;
               height: 26px;
              
               gap: 0px;
               opacity: 0px;
               
          
          
          }


          .con-info2 {
               width: 280px;
          height: 37px;
          display: flex;
          margin-top: -420px;
          flex-direction: row;
          margin-left: 14px;
          gap: 0px;
          border-radius: 12px 0px 0px 0px #000000;
          opacity: 0px;
          border: 1px solid #00000009;
          box-shadow: 5px 5px 3px 5px #00000009;
          
          
          
          }

          .infos > p {
               width: 90px;
height: 10px;


font-size: 8px;
font-weight: 700;
line-height: 9.75px;
text-align: left;

gap: 0px;
opacity: 0px;

          }


          .infos1 > p {
               font-size: 10px;
          }

          .infos > h5 {
               font-size: 10px;
          }

          .con-info > h3 {
               width: 96px;
               height: 24px;
               
               padding-left: 12px;
               gap: 0px;
               opacity: 0px;
               font-family: "Playfair Display", serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 23.99px;
          text-align: left;
          color: #333333;
          
          }

          .con-info > h4 {
               padding-left: 20px;
               padding-top: 10px;
               font-size: 16px;
          }


          .con-info > ul >li {
               width: 321px;
               font-size: 12px;
               
          }

          .bold {
              
font-size: 12px;
font-weight: 700;
line-height: 25px;
text-align: left;

          }


          .con-info > ul {
               padding-left: 37px;
               margin-top: -30px;
          }


          .connn {
               display: flex;
               flex-direction: column;
          }

          .connn > h4 {
               margin-left: -225px;
               font-size: 18px;
              
          }

          .connn > ul {
               margin-left: -205px;
               width: 353px;

          }

          .connn > ul > li {
               font-size: 12px;

          }


       .first-con {
          margin-bottom: 450px;
          
       }


       .sec-con {
          margin-left: -220px;
       }
          

       .sec-con > h3 {
          font-size: 24px;
       }

       .number {
          width: 33px;
height: 26px;
display: flex;
justify-content: center;
align-items: center;
gap: 0px;
border-radius: 6px;
opacity: 0px;
font-size: 18px;
padding: 5px;

       }


    

       .para > p {
          font-size: 12px;
       }

       .con-5 {
          margin-bottom: 260px;
       }


       .source {
          width: 352px;
          height: 36px;
          
          margin-left: 12px;
          gap: 0px;
          opacity: 0px;
          
     
     }

     .source > p {
        
font-size: 12px;
font-style: italic;
font-weight: 400;
line-height: 18px;
text-align: left;

     }



     .footer {
          width: 287px;
     
     
     padding-left: 3px;
     gap: 0px;
     opacity: 0px;
     margin-bottom: 30px;
     
     }
      .footer > p {
          font-size: 10px;
          
      }


       

















































     
}